@use '../foundation/base' as *;
@use '../foundation/grid' as *;

.l-header {
  grid-area: head;
  height: 217px;
  background-color: $bgcolor-header;

  @include mq(sp) {
    display: block;
    padding-bottom: 10px;
    width: 100%;
  } 

  @include mq(tab) {
    display: block;
    padding-bottom: 10px;
    width: 100%;
  } 
  @include mq(pc) {
    padding: 65px 31px 65px 67px;
    display: -ms-flexbox;/* IE11とIE10対応 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 1553px;
  } 
}