@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  margin: 0;
  padding: 0;
}

/* font */
body {
  font-family: "M PLUS 1p", sans-serif;
}

/* color */
body {
  color: #3c2a10;
}

/* color */
/* responsive */
a:link, a:visited, a:hover, a:active {
  color: #707070;
  cursor: pointer;
}

.l-grid {
  display: grid;
  grid-template-columns: 1 367px 1fr;
  grid-template-rows: 217px 1fr 150px;
  min-height: 100vh;
  grid-gap: 0px;
}

.l-header {
  grid-row: 1;
  grid-column: 1;
  position: relative;
  height: 217px;
  background-color: #fff7ef;
}
@media screen and (max-width: 375px) {
  .l-header {
    display: block;
    padding-bottom: 10px;
    width: 100%;
  }
}
@media screen and (max-width: 835px) {
  .l-header {
    display: block;
    padding-bottom: 10px;
    width: 100%;
  }
}
@media screen and (min-width: 836px) {
  .l-header {
    padding: 65px 31px 65px 67px;
    /* IE11とIE10対応 */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.l-side {
  grid-row: 1/span 2;
  grid-column: 2;
  background-color: #f2ede9;
  display: position;
  padding-left: 46px;
  padding-top: 82px;
  color: #707070;
}

.l-side__menulink {
  display: absolute;
  font-family: "M PLUS 1p", sans-serif;
}
@media screen and (max-width: 375px) {
  .l-side__menulink {
    top: 14px;
    left: 67px;
    width: 51px;
    height: 26px;
  }
}
@media screen and (max-width: 835px) {
  .l-side__menulink {
    top: 82px;
    right: 56px;
    width: 86px;
    height: 45px;
  }
}
@media screen and (min-width: 836px) {
  .l-side__menulink {
    top: 82px;
    right: 66px;
    width: 86px;
    height: 45px;
    font-size: 34px;
    font-weight: bold;
    line-height: 45px;
  }
}
.l-side__menulink > a {
  text-decoration: none;
}

.l-side__nav {
  margin-top: 85px;
  background-color: #f2ede9;
}

.l-main {
  grid-row: 2;
  grid-column: 1;
  align-content: start;
}

.l-main__img {
  grid-row: 1;
  grid-column: 2;
}

.l-main-visual {
  display: flex;
  height: auto;
  padding: 40px;
  position: relative;
  z-index: 20;
}
@media screen and (max-width: 375px) {
  .l-main-visual {
    display: block;
    padding: 20px 20px 49px 20px;
  }
}

/*フォーム全体*/
#c-form1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 375px) {
  #c-form1 {
    width: 320px;
    height: 46px;
    margin-top: 38px;
  }
}
@media screen and (max-width: 835px) {
  #c-form1 {
    width: 545px;
    height: 46px;
    margin-top: 38px;
  }
}
@media screen and (min-width: 836px) {
  #c-form1 {
    width: 545px;
    height: 46px;
  }
}

/*検索欄*/
#c-form1__sbox1 {
  outline: 0;
  /*クリック時の青い枠線消す*/
  height: 46px;
  /*検索ボックスの高さ*/
  padding: 0 10px;
  border-radius: 10px;
  /*検索ボックスの角を丸める*/
  border-color: #707070;
  border-width: thin;
  background: #fff;
  /*検索ボックスの背景カラー*/
}
@media screen and (max-width: 375px) {
  #c-form1__sbox1 {
    width: 230px;
    /*検索ボックスの幅*/
  }
}
@media screen and (min-width: 376px) {
  #c-form1__sbox1 {
    width: 396px;
  }
}

/*検索ボタン*/
#c-form1__sbtn1 {
  margin-left: 10px;
  border-radius: 10px;
  /*検索ボタンの角を丸める*/
  background: linear-gradient(#f2ede9, #DED8D3);
  border-color: #707070;
  border-width: thin;
  color: #707070;
  /*検索ボタンのテキストカラー*/
  font-weight: bold;
  /*検索ボタンのテキスト太字*/
  font-size: 16px;
  /*検索ボタンのフォントサイズ*/
}
@media screen and (max-width: 375px) {
  #c-form1__sbtn1 {
    width: 78px;
    /*検索ボタンの横幅*/
    height: 46px;
    /*検索ボタンの縦幅*/
  }
}
@media screen and (min-width: 376px) {
  #c-form1__sbtn1 {
    width: 136px;
    height: 46px;
  }
}

/*検索ボタンマウスオーバー時*/
#sbtn:hover {
  color: #707070;
}

/* バツ印 */
@media screen and (max-width: 835px) {
  .c-batsu {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    top: -25px;
    right: -159px;
  }

  .c-batsu::before, .c-batsu::after {
    /* 共通設定 */
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    /* 棒の幅（太さ） */
    height: 32px;
    /* 棒の高さ */
    background: #707070;
  }

  .c-batsu::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .c-batsu::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
.p-header__logo > h1 {
  color: #707070;
  font-weight: bold;
}
@media screen and (max-width: 835px) {
  .p-header__logo > h1 {
    width: 203px;
    height: 53px;
    margin: 0 auto;
    font-size: 40px;
    margin-top: 38px;
  }
}
@media screen and (min-width: 836px) {
  .p-header__logo > h1 {
    width: 325px;
    height: 84px;
    font-size: 64px;
  }
}

.p-header__serch {
  height: 46px;
  max-width: 545px;
}
@media screen and (max-width: 375px) {
  .p-header__serch {
    max-width: 320px;
    /*フォームのサイズ*/
  }
}

.p-header__link_h3 {
  position: absolute;
  text-decoration: none;
}
@media screen and (max-width: 375px) {
  .p-header__link_h3 {
    width: 51px;
    height: 26px;
    right: 16px;
    top: 14px;
  }
}
@media screen and (max-width: 835px) {
  .p-header__link_h3 {
    width: 86px;
    height: 45px;
    right: 26px;
    top: 18px;
  }
}
@media screen and (min-width: 836px) {
  .p-header__link_h3 {
    display: none;
  }
}
.p-header__link_h3_a {
  text-decoration: none;
}
.p-header__link_h3_a a:link, .p-header__link_h3_a a:visited, .p-header__link_h3_a a:hover, .p-header__link_h3_a a:active {
  color: #707070;
  cursor: pointer;
}

.p-main__kv {
  position: relative;
}

.p-main__kvtext {
  position: absolute;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  color: #fff;
}
@media screen and (max-width: 375px) {
  .p-main__kvtext {
    font-size: 36px;
    line-height: 54px;
    top: 334px;
    left: 25px;
  }
}
@media screen and (max-width: 835px) {
  .p-main__kvtext {
    font-size: 36px;
    line-height: 54px;
    top: 334px;
    left: 86px;
  }
}
@media screen and (min-width: 836px) {
  .p-main__kvtext {
    font-size: 40px;
    line-height: 60px;
    top: 448px;
    left: 86px;
  }
}

/* 画像の高さを固定し横幅だけ伸縮 */
@media screen and (max-width: 375px) {
  .p-main__kvimg__pc {
    display: none;
  }
}
@media screen and (max-width: 835px) {
  .p-main__kvimg__pc {
    display: block;
    width: 100%;
    height: 285px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 836px) {
  .p-main__kvimg__pc {
    display: block;
    width: 100%;
    height: 530px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 375px) {
  .p-main__kvimg__sp {
    display: block;
    width: 100%;
    height: 285px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 835px) {
  .p-main__kvimg__sp {
    display: none;
  }
}
@media screen and (min-width: 836px) {
  .p-main__kvimg__sp {
    display: none;
  }
}

.p-main-visual__left {
  background-image: url(../../../images/frontpage-img/left_w356_h681.jpg) no-repeat center/cover;
  width: calc(50% - 20px);
  height: 1193px;
  margin-right: 80px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 835px) {
  .p-main-visual__left {
    height: 681px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 375px) {
  .p-main-visual__left {
    width: 100%;
    height: 642px;
    margin-right: 0;
  }
}
.p-main-visual__right {
  background-image: url(../../../images/frontpage-img/right_w356_h681.jpg) no-repeat center/cover;
  width: calc(50% - 20px);
  height: 1193px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 835px) {
  .p-main-visual__right {
    height: 681px;
  }
}
@media screen and (max-width: 375px) {
  .p-main-visual__right {
    width: 100%;
    height: 642px;
    margin-top: 20px;
  }
}

.l-main-visual h3, .l-main-visual a {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 8rem;
  font-weight: bold;
  line-height: 1.325;
  top: 20px;
  left: 20px;
}
@media screen and (max-width: 835px) {
  .l-main-visual h3, .l-main-visual a {
    font-size: 4.4rem;
    font-weight: bold;
    line-height: 1.3181818182;
    top: 7px;
    left: 5px;
  }
}
.l-main-visual h3::before {
  background-color: #fff;
  position: absolute;
  top: 160.5px;
  left: 26.5px;
  content: "";
  width: 63px;
  height: 4px;
}
@media screen and (max-width: 835px) {
  .l-main-visual h3::before {
    width: 35px;
    top: 82px;
    left: 7px;
  }
}

.p-side__h2 {
  font-family: "Roboto", sans-serif;
  color: #707070;
  font-weight: bold;
  line-height: 1.4;
}
.p-side__h2 > a {
  text-decoration: none;
}

.p-side__h3 {
  font-family: "M PLUS 1p", sans-serif;
  font-size: bold;
  font-size: 24px;
  margin-top: 23px;
}

.p-side__ul {
  list-style: none;
}

.p-side__li {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 20px;
  padding: 20px 0 0 23px;
}
/*# sourceMappingURL=styles.css.map */