@use '../../foundation/base' as *;

.p-header__logo > h1 {
   @include mq(tab) {
    //tab以下
    width: 203px;
    height: 53px;
    margin: 0 auto; //ブロック要素中央寄せ
    padding-top: 38px; //上余白
  }

  @include mq(pc) {
    width: 325px;
    height: 84px;
  }
  color: $color-gray;  //#707070
  font-weight: bold;
  font-size: 40px;
}

.p-header__serch {
  position:relative;/*フォームの相対位置*/
  height: 46px;	
  max-width:545px;
  @include mq(sp) { 
    max-width: 320px; /*フォームのサイズ*/
  }	
}