@use '../../foundation/base' as *;


// .c-header__display {
  // @include mq(sp) { 
  //   // 縦並び
  //   display: block;
  //   padding-bottom: 10px;
  //   width: 100%;
  //   align-items: center;
  // }
  // @include mq(tab) { 
  //   // 縦並び
  //   display: block;
  //   padding-bottom: 10px;
  //   width: 100%;
  //   align-items: center;
  // }
  // @include mq(pc) { 
  //   // 左右横並び
  //   display: flex;
  //   flex-wrap: no-wrap;  //折り返さない
  //   justify-content: space-between;
  //   align-items: center;
  //   padding: 65px 31px 65px 67px;
  // }
// }


.c-logo__h1 {
  margin-top: 5px;
  color: $color-gray;  //#707070
  font-weight: bold;

  @include mq(tab) {
    width: 203px;
    height: 53px;
    margin: 0 auto; //ブロック要素中央寄せ
    font-size: 40px;
    margin-top: 38px; //上余白
  }
  @include mq(pc) {
    width: 325px;
    height: 84px;
    font-size: 64px;
  }

  & a {
    text-decoration: none;
  }
}